/*
 * These style rules are not required.
 * They are only for the look-and-feel of this demo.
 */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans.eot");
  src: url("../fonts/noto-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans.woff2") format("woff2"), url("../fonts/noto-sans.woff") format("woff"), url("../fonts/noto-sans.ttf") format("truetype"), url("../fonts/noto-sans.svg#Noto-Sans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("../fonts/noto-sans--bold.eot");
  src: url("../fonts/noto-sans--bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans--bold.woff2") format("woff2"), url("../fonts/noto-sans--bold.woff") format("woff"), url("../fonts/noto-sans--bold.ttf") format("truetype"), url("../fonts/noto-sans--bold.svg#noto-sans--bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  /*background-color: #e8eaf6;*/
}

h1,
h2 {
  font-family: "Noto Sans Bold", sans-serif;
}

h1 {
  font-size: 44px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
}

.header {
  padding: 15px 22px;
  min-height: 150px;
  text-align: center;
  color: #fff;
  background-image: "{{ url_for('static', filename='images/shared-logo.png')}}";
  background-color: #3f51b5;
}

.section {
  /*width: 96%;
  max-width: 960px;
  margin: 80px auto 80px auto; */
  text-align: center;
}

.footer {
  padding: 25px;
  text-align: center;
}

.column {
  display: inline-block;
  width: 320px;
  text-align: center;
}

.column div {
  margin: 0px auto;
}

.original {
  display: inline-block;
  margin: 0px auto;
}

.tagline {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.6);
}

.original,
.circular--square,
.circular--landscape,
.circular--portrait {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 690px) {
  .original {
    margin-bottom: 50px;
  }
}

.call-to-action {
  display: block;
  width: 200px;
  line-height: 30px;
  margin: 0px auto;
  padding: 10px;
  font-family: "Noto Sans Bold";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: #009688;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.call-to-action:hover {
  background-color: #00acc1;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}
