<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>Photo Art</title>
    
    <meta name="description" content="Rendering rounded HTML img elements.">
    <meta name="author" content="Six Revisions">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/presentational.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}} ">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circular-images.css')}}">
    
  </head>
  <body >
    <div class="header" style="padding: 5px 22px;min-height: 40px;background-color: #ffffff;">
      <img src="https://marketingwebassets.baaz.com/images/logo.svg" style="position: absolute;top: 8px;left: 40px;/* margin: 25px; */">
     </div>


    <div class="header" style="padding: 15px 22px; min-height: 110px;background-color: #ff5a5a;">
      <h1> Turn your profile into Art </h1>
      <h5>Select your photo</h5>
      <form enctype="multipart/form-data" method="post" action="/result">
        <input name="uimg" type="file" accept="image/png, image/jpg, image/jpeg" required>

        <button class="call-to-action" style="display: inline; width: 100px;line-height: 10px; margin: 0px auto; padding: 10px;background-color: #ce0a0a;"  type="submit">Go Art</button>
    </form>
    </div>

    
    
    <div class="section" id="square" style="margin: 40px auto 60px auto;">

      <div class="column" style=" width: auto;">
        <img src="{{ url_for('static', filename='images/art4.gif')}} " />
      </div>


    </div>

   


    <div class="footer">
    </div>

  </body>
</html>