<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title> Photo Art </title>
    
    <meta name="description" content="Rendering rounded HTML img elements.">
    <meta name="author" content="Six Revisions">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/presentational.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}} ">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circular-images.css')}}">
    
    
  </head>
  <body>
    <div class="header" style="padding: 5px 22px;min-height: 40px;background-color: #ffffff;">
      <img src="https://marketingwebassets.baaz.com/images/logo.svg" style="position: absolute;top: 8px;left: 40px;/* margin: 25px; */">
     </div>


    <div class="header" style="padding: 15px 22px; min-height: 110px;background-color: #ff5a5a;">
      <h1> Turn your profile into Art </h1>
    </div>


    <div class="section" id="square">

      {% if not error %}
      <h2>Result</h2>

      
      <div class="column">
        <img class="circular--square" width='80%' height="80%" src="data:image/png;base64,{{ img }}" />
      </div>

      <div class="column">
        <img class="circular--square" width='80%' height="80%"  src="data:image/png;base64,{{ result_img }}" />
      </div>

      <div class="column">
        <img class="circular--square" width='80%' height="80%"  src="data:image/png;base64,{{ result_img2 }}" />
      </div>

      {% endif %}

    </div>

    <div class="section" id="square">
      {% if error %}
      <h1>Error</h1>
    {% endif%}
 
 

    </div>

    <div class="footer">
      <h1></h1>
      <a class="call-to-action" href="/index" style="background-color: #ce0a0a;color: #fff;">Try different photo </a>
    </div>

  </body>
</html>